<div id="fh5co-footer">
	<div class="container">
		<div class="row row-padded">
			<div class="col-md-12 text-center">
				<p class="to-animate">&copy; 2017 Munchies Fast Foods. <br> by <a href="https://github.com/songalabs/MunchiesFastFood/wiki" target="_blank">IST4020.Group 1()</a> Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
				</p>
				<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
			</div>
		</div>
	</div>
</div>