	<!-- jQuery -->
	<script src="/app/munchies/staticfiles/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/app/munchies/staticfiles/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/app/munchies/staticfiles/js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="/app/munchies/staticfiles/js/moment.js"></script>
	<script src="/app/munchies/staticfiles/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="/app/munchies/staticfiles/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/app/munchies/staticfiles/js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="/app/munchies/staticfiles/js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="/app/munchies/staticfiles/js/main.js"></script>