
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		{% include "munchiesfastfood/includes/header.html" %}
	</head>
	<body>
		{%  block content  %}
		{% endblock %}
	{% include "munchiesfastfood/includes/footer.html" %}
	{% include "munchiesfastfood/includes/scripts.html" %}
	</body>
</html>